.header-wrapper {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    margin: 0 8px 0 0;
  }

  .left-header {
    display: flex;
    align-items: center;
  }

  .header-link {
    text-decoration: none;
    margin: 0 8px;
  }
}
