.App {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  justify-content: flex-start;
  align-items: flex-start;
}

table {
  border-collapse: collapse;
  width: 100%;
  tr > td,
  tr > th {
    border: 1px solid;
    padding: 0.5rem;
    text-align: start;
  }
}
